<!DOCTYPE html>
<html class='ltr' dir='ltr' lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b'
    xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes' name='viewport' />
    <title>Magspot - Blogger Template</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">

</head>

<body class='is-home is-multiple is-roboto'>
    <div id='theme-options' style='display:none'>
        <div class='pbt-panel section' id='pbt-panel' name='Theme Options'>
            <div class='widget Image' data-version='2' id='Image52'>
                <script type='text/javascript'>
                    var noThumbnail = "https://1.bp.blogspot.com/-rI4UCIrwEI4/YN3nGkf0nCI/AAAAAAAAAD0/DQ6fW7eCps8NL7S0oh374KFg1MsWUf2GQCLcBGAsYHQ/w72-h72-p-k-no-nu/ptb-nth.png";
                </script>
            </div>
            <div class='widget HTML' data-version='2' id='HTML50'>
            </div>
        </div>
    </div>
    <div id='outer-wrapper'>
        
        @include('frontend/components/header')

        @!section('content')

        @include('frontend/components/footer')
        <div class='cookie-consent' id='magspot-cookie-consent'>
            <div class='section' id='cookie-consent-section' name='Cookie Consent'>
                <div class='widget Text' data-shortcode='$ok={Accept !} $days={7}' data-version='2' id='Text51'>
                    <p class='consent-text excerpt'>Our website uses cookies to improve your experience. <a
                            href="#">Learn more</a></p>
                    <a aria-label='Ok' class='consent-button btn' href='#' role='button'>Ok</a>
                </div>
            </div>
        </div>
    </div>
    <div id='slide-menu'>
        <div class='slide-menu-header'>
            <div class='mobile-logo'></div>
            <a class='hide-mobile-menu' href='#' role='button'></a>
        </div>
        <div class='slide-menu-flex'>
            <div class='mobile-menu' id='mobile-menu'></div>
            <div class='mm-footer'></div>
        </div>
    </div>
    <div class='overlay'></div>
    <a class='btn' href='#' id='back-top' role='button' title='Back To Top'></a>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js' type='text/javascript'></script>
    <script type='text/javascript'>
        var pbt = {
                fixedMenu: true, 
                fixedSidebar: true, 
                darkMode: false, 
                userDarkMode: true, 
                cardTag: true, 
                thumbTag: false, 
                noTitle: "No title", 
                viewAll: "View all", 
                postAuthor: false, 
                postAuthorLabel: "by", 
                postDate: true,
                postDateLabel: "-"
            }
    </script>

    <script type="text/javascript" src="{{ asset('assets/theia-sticky-sidebar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/app.js') }}"></script>

    @!section('js')
</body>

</html>