<!DOCTYPE html>
<html class='ltr' dir='ltr' lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b'
    xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes' name='viewport' />
    <title>Magspot - Blogger Template</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">

</head>

<body class='is-home is-multiple is-roboto'>
    <div id='theme-options' style='display:none'>
        <div class='pbt-panel section' id='pbt-panel' name='Theme Options'>
            <div class='widget Image' data-version='2' id='Image52'>
                <script type='text/javascript'>
                    var noThumbnail = "https://1.bp.blogspot.com/-rI4UCIrwEI4/YN3nGkf0nCI/AAAAAAAAAD0/DQ6fW7eCps8NL7S0oh374KFg1MsWUf2GQCLcBGAsYHQ/w72-h72-p-k-no-nu/ptb-nth.png";
                </script>
            </div>
            <div class='widget HTML' data-version='2' id='HTML50'>
            </div>
        </div>
    </div>
    <div id='outer-wrapper'>
        
        @include('frontend/components/header')

        @!section('content')

        <footer class='flex-col' id='footer-wrapper'>
            <div class='primary-footer flex-c'>
                <div class='container row-x1'>
                    <div class='footer-widgets has-border'>
                        <div class='footer-section pbt-section flex-col section' id='footer-col-1' name='Footer Left'>
                            <div class='widget Label' data-version='2' id='Label3'>
                                <div class='widget-title'>
                                    <h3 class='title'>Categories</h3>
                                </div>
                                <div class='widget-content list-label'>
                                    <ul class='list-style'>
                                        <li><a class='label-name has-count'
                                                href='https://magspot-template.blogspot.com/search/label/Gadgets'>Gadgets
                                                <span class='label-count count-style'>(6)</span></a></li>
                                        <li><a class='label-name has-count'
                                                href='https://magspot-template.blogspot.com/search/label/Podcasts'>Podcasts
                                                <span class='label-count count-style'>(6)</span></a></li>
                                        <li><a class='label-name has-count'
                                                href='https://magspot-template.blogspot.com/search/label/Reviews'>Reviews
                                                <span class='label-count count-style'>(7)</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class='widget Label' data-version='2' id='Label4'>
                                <div class='widget-title'>
                                    <h3 class='title'>Main Tags</h3>
                                </div>
                                <div class='widget-content cloud-label'>
                                    <ul class='cloud-style'>
                                        <li><a class='label-name btn'
                                                href='https://magspot-template.blogspot.com/search/label/Gadgets'>Gadgets</a>
                                        </li>
                                        <li><a class='label-name btn'
                                                href='https://magspot-template.blogspot.com/search/label/Games'>Games</a>
                                        </li>
                                        <li><a class='label-name btn'
                                                href='https://magspot-template.blogspot.com/search/label/Healthy'>Healthy</a>
                                        </li>
                                        <li><a class='label-name btn'
                                                href='https://magspot-template.blogspot.com/search/label/Podcasts'>Podcasts</a>
                                        </li>
                                        <li><a class='label-name btn'
                                                href='https://magspot-template.blogspot.com/search/label/Reviews'>Reviews</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class='footer-section pbt-section flex-col section' id='footer-col-2' name='Footer Center'>
                            <div class='widget HTML' data-version='2' id='HTML16'>
                                <div class='widget-title'>
                                    <h3 class='title'>Latest Posts</h3>
                                </div>
                                <div class='widget-content' data-is='footer'
                                    data-shortcode='{getPosts} $results={3} $label={recent} $style={2}'>
                                </div>
                            </div>
                        </div>
                        <div class='footer-section pbt-section flex-col section' id='footer-col-3' name='Footer Right'>
                            <div class='widget PopularPosts' data-version='2' id='PopularPosts1'>
                                <div class='widget-title'>
                                    <h3 class='title'>Popular Posts</h3>
                                </div>
                                <div class='widget-content side-items'>
                                    <div class='side-item item-0'>
                                        <a class='entry-image-wrap sz-1 is-image'
                                            href='https://magspot-template.blogspot.com/2021/08/11-of-best-laptops-evaluated-based-on.html'
                                            title='11 of Best Laptops Evaluated Based on Budget'><span
                                                class='entry-image'
                                                data-src='https://1.bp.blogspot.com/-uK5sQ5rOkRU/YQf0I-jK87I/AAAAAAAAAW0/INcqkESmgFYXh__ci2SPmMUHziYhGchtwCLcBGAsYHQ/w72-h72-p-k-no-nu/pbt66.jpg'></span>
                                        </a>
                                        <div class='entry-header'>
                                            <h2 class='entry-title'><a
                                                    href='https://magspot-template.blogspot.com/2021/08/11-of-best-laptops-evaluated-based-on.html'
                                                    title='11 of Best Laptops Evaluated Based on Budget'>11 of Best
                                                    Laptops Evaluated Based on Budget</a></h2>
                                            <div class='entry-meta'><time class='published'
                                                    datetime='2021-08-02T06:33:00-07:00'>August 02, 2021</time></div>
                                        </div>
                                    </div>
                                    <div class='side-item item-1'>
                                        <a class='entry-image-wrap sz-1 is-image'
                                            href='https://magspot-template.blogspot.com/2021/07/how-we-know-disinfectants-should-kill.html'
                                            title='How We Know Disinfectants Should Kill the Covid-19'><span
                                                class='entry-image'
                                                data-src='https://1.bp.blogspot.com/-924Nb_-CUFk/YQWxvsD9YjI/AAAAAAAAATs/QxsGc6FOEE4wbNcATLB9to38uneI51YEACLcBGAsYHQ/w72-h72-p-k-no-nu/pbt41.jpg'></span>
                                        </a>
                                        <div class='entry-header'>
                                            <h2 class='entry-title'><a
                                                    href='https://magspot-template.blogspot.com/2021/07/how-we-know-disinfectants-should-kill.html'
                                                    title='How We Know Disinfectants Should Kill the Covid-19'>How We
                                                    Know Disinfectants Should Kill the Covid-19</a></h2>
                                            <div class='entry-meta'><time class='published'
                                                    datetime='2021-07-31T12:21:00-07:00'>July 31, 2021</time></div>
                                        </div>
                                    </div>
                                    <div class='side-item item-2'>
                                        <a class='entry-image-wrap sz-1 is-image'
                                            href='https://magspot-template.blogspot.com/2021/08/apple-watch-series-5-is-best-one-yet-by.html'
                                            title='Apple Watch Series 5 is the Best One Yet By Consumer'><span
                                                class='entry-image'
                                                data-src='https://1.bp.blogspot.com/-7vg-bSX8xLI/YQfz0dY-yoI/AAAAAAAAAWs/t91KpNFtLSYrInDU5jWlbeotvsEyrrsuwCLcBGAsYHQ/w72-h72-p-k-no-nu/pbt65.jpg'></span>
                                        </a>
                                        <div class='entry-header'>
                                            <h2 class='entry-title'><a
                                                    href='https://magspot-template.blogspot.com/2021/08/apple-watch-series-5-is-best-one-yet-by.html'
                                                    title='Apple Watch Series 5 is the Best One Yet By Consumer'>Apple
                                                    Watch Series 5 is the Best One Yet By Consumer</a></h2>
                                            <div class='entry-meta'><time class='published'
                                                    datetime='2021-08-02T06:32:00-07:00'>August 02, 2021</time></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='about-section flex-sb section' id='magspot-about-section' name='About Section'>
                        <div class='widget Image' data-version='2' id='Image51'>
                            <a class='footer-logo custom-image' href='https://magspot-template.blogspot.com/'
                                rel='home'>
                                <img alt='Magspot - Blogger Template'
                                    data-src='https://1.bp.blogspot.com/-ogJcgqV3vIY/YTkSC7V8-9I/AAAAAAAAAeM/CZqbD8p4wRInPRzed1A2PMXXRkw2_C1lQCLcBGAsYHQ/s320/dark-logo.png'
                                    height='80' id='Image51_img'
                                    src='https://1.bp.blogspot.com/-ogJcgqV3vIY/YTkSC7V8-9I/AAAAAAAAAeM/CZqbD8p4wRInPRzed1A2PMXXRkw2_C1lQCLcBGAsYHQ/s320/dark-logo.png'
                                    width='320'>
                                </img>
                            </a>
                            <div class='footer-info'>
                                <h3 class='title'>About Us</h3>
                                <p class='image-caption excerpt'>Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's.</p>
                            </div>
                        </div>
                        <div class='widget LinkList' data-version='2' id='LinkList203'>
                            <ul class='social-icons social sb-h'>
                                <li class='facebook'><a alt='facebook' class='fa-facebook btn'
                                        href='https://www.facebook.com/probloggertemplates' rel='noopener noreferrer'
                                        target='_blank' title='facebook'></a></li>
                                <li class='twitter'><a alt='twitter' class='fa-twitter btn'
                                        href='https://twitter.com/probtemplates' rel='noopener noreferrer'
                                        target='_blank' title='twitter'></a></li>
                                <li class='youtube'><a alt='youtube' class='fa-youtube btn'
                                        href='https://www.youtube.com/probloggertemplates?sub_confirmation=1'
                                        rel='noopener noreferrer' target='_blank' title='youtube'></a></li>
                                <li class='instagram'><a alt='instagram' class='fa-instagram btn'
                                        href='https://instagram.com/probloggertemplates.com' rel='noopener noreferrer'
                                        target='_blank' title='instagram'></a></li>
                                <li class='pinterest'><a alt='pinterest' class='fa-pinterest btn'
                                        href='https://www.pinterest.com/probloggertemplates/' rel='noopener noreferrer'
                                        target='_blank' title='pinterest'></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class='footer-bar flex-c'>
                <div class='container row-x1 flex-sb'>
                    <div class='footer-copyright section' id='footer-copyright' name='Footer Copyright'>
                        <div class='widget Text' data-version='2' id='Text50'>
                            Design by - <a href="https://probloggertemplates.com/" title="Blogger Templates">Pro Blogger
                                Templates</a>
                        </div>
                    </div>
                    <div class='footer-menu section' id='footer-menu' name='Footer Menu'>
                        <div class='widget LinkList' data-version='2' id='LinkList204'>
                            <ul class='link-list'>
                                <li><a href='/'>Home</a></li>
                                <li><a href='#'>About Us</a></li>
                                <li><a href='#'>Privacy Policy</a></li>
                                <li><a href='#'>Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class='cookie-consent' id='magspot-cookie-consent'>
            <div class='section' id='cookie-consent-section' name='Cookie Consent'>
                <div class='widget Text' data-shortcode='$ok={Accept !} $days={7}' data-version='2' id='Text51'>
                    <p class='consent-text excerpt'>Our website uses cookies to improve your experience. <a
                            href="#">Learn more</a></p>
                    <a aria-label='Ok' class='consent-button btn' href='#' role='button'>Ok</a>
                </div>
            </div>
        </div>
    </div>
    <div id='slide-menu'>
        <div class='slide-menu-header'>
            <div class='mobile-logo'></div>
            <a class='hide-mobile-menu' href='#' role='button'></a>
        </div>
        <div class='slide-menu-flex'>
            <div class='mobile-menu' id='mobile-menu'></div>
            <div class='mm-footer'></div>
        </div>
    </div>
    <div class='overlay'></div>
    <a class='btn' href='#' id='back-top' role='button' title='Back To Top'></a>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js' type='text/javascript'></script>
    <script type='text/javascript'>
        var pbt = {
                fixedMenu: true, 
                fixedSidebar: true, 
                darkMode: false, 
                userDarkMode: true, 
                cardTag: true, 
                thumbTag: false, 
                noTitle: "No title", 
                viewAll: "View all", 
                postAuthor: false, 
                postAuthorLabel: "by", 
                postDate: true,
                postDateLabel: "-"
            }
    </script>

    <script type="text/javascript" src="{{ asset('assets/theia-sticky-sidebar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/app.js') }}"></script>

    @!section('js')
</body>

</html>