<!DOCTYPE html>
<html class='ltr' dir='ltr' lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b'
    xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes' name='viewport' />
    <title>Magspot - Blogger Template</title>
    <meta content='blogger' name='generator' />
    <link href='https://magspot-template.blogspot.com/favicon.ico' rel='icon' type='image/x-icon' />
    <meta content='#fd3a13' name='theme-color' />
    <link href='https://magspot-template.blogspot.com/' rel='canonical' />
    <meta content='Magspot is a Professional, Flexible, Fast and Fully Customizable Responsive Blogger Template. '
        name='description' />
    <meta content='en' property='og:locale' />
    <meta content='website' property='og:type' />
    <meta content='Magspot - Blogger Template' property='og:title' />
    <meta content='https://magspot-template.blogspot.com/' property='og:url' />
    <meta content='Magspot is a Professional, Flexible, Fast and Fully Customizable Responsive Blogger Template. '
        property='og:description' />
    <meta content='Magspot - Blogger Template' property='og:site_name' />
    <meta
        content='https://1.bp.blogspot.com/-uK5sQ5rOkRU/YQf0I-jK87I/AAAAAAAAAW0/INcqkESmgFYXh__ci2SPmMUHziYhGchtwCLcBGAsYHQ/w1600/pbt66.jpg'
        property='og:image' />
    <meta
        content='https://1.bp.blogspot.com/-uK5sQ5rOkRU/YQf0I-jK87I/AAAAAAAAAW0/INcqkESmgFYXh__ci2SPmMUHziYhGchtwCLcBGAsYHQ/w1600/pbt66.jpg'
        property='twitter:image' />
    <meta content='summary_large_image' name='twitter:card' />
    <meta content='Magspot - Blogger Template' name='twitter:title' />
    <meta content='https://magspot-template.blogspot.com/' name='twitter:domain' />
    <meta content='Magspot is a Professional, Flexible, Fast and Fully Customizable Responsive Blogger Template. '
        name='twitter:description' />
    <link rel="alternate" type="application/atom+xml" title="Magspot - Blogger Template - Atom"
        href="https://magspot-template.blogspot.com/feeds/posts/default" />
    <link rel="alternate" type="application/rss+xml" title="Magspot - Blogger Template - RSS"
        href="https://magspot-template.blogspot.com/feeds/posts/default?alt=rss" />
    <link rel="service.post" type="application/atom+xml" title="Magspot - Blogger Template - Atom"
        href="https://www.blogger.com/feeds/9080490595832936725/posts/default" />
    <link rel="me" href="https://www.blogger.com/profile/00123090729158753546" />
    <script
        type='application/ld+json'>{"@context":"http://schema.org","@type":"WebSite","name":"Magspot - Blogger Template","url":"https://magspot-template.blogspot.com/","potentialAction":{"@type":"SearchAction","target":"https://magspot-template.blogspot.com/search?q={search_term_string}","query-input":"required name=search_term_string"}}</script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css' rel='stylesheet' />

    <meta name='google-adsense-platform-account' content='ca-host-pub-1556223355139109' />
    <meta name='google-adsense-platform-domain' content='blogspot.com' />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">

</head>

<body class='is-home is-multiple is-roboto'>
    <div id='theme-options' style='display:none'>
        <div class='pbt-panel section' id='pbt-panel' name='Theme Options'>
            <div class='widget Image' data-version='2' id='Image52'>
                <script
                    type='text/javascript'>var noThumbnail = "https://1.bp.blogspot.com/-rI4UCIrwEI4/YN3nGkf0nCI/AAAAAAAAAD0/DQ6fW7eCps8NL7S0oh374KFg1MsWUf2GQCLcBGAsYHQ/w72-h72-p-k-no-nu/ptb-nth.png";</script>
            </div>
            <div class='widget HTML' data-version='2' id='HTML50'>
            </div>
        </div>
    </div>
    <div id='outer-wrapper'>
        <header id='header-wrapper'>
            <nav class='topbar-wrap flex-c'>
                <div class='container row-x1'>
                    <div class='topbar flex-sb section' id='topbar' name='Topbar'>
                        <div class='widget LinkList' data-version='2' id='LinkList201'>
                            <ul class='link-list list-style'>
                                <li><a href='/'>Home</a></li>
                                <li><a href='#'>About Us</a></li>
                                <li><a href='#'>Privacy Policy</a></li>
                                <li><a href='#'>Contact Us</a></li>
                            </ul>
                        </div>
                        <div class='widget LinkList' data-version='2' id='LinkList202'>
                            <ul class='social-icons social'>
                                <li class='facebook'><a alt='facebook' class='fa-facebook'
                                        href='https://www.facebook.com/probloggertemplates' rel='noopener noreferrer'
                                        target='_blank' title='facebook'></a></li>
                                <li class='twitter'><a alt='twitter' class='fa-twitter'
                                        href='https://twitter.com/probtemplates' rel='noopener noreferrer'
                                        target='_blank' title='twitter'></a></li>
                                <li class='youtube'><a alt='youtube' class='fa-youtube'
                                        href='https://www.youtube.com/probloggertemplates?sub_confirmation=1'
                                        rel='noopener noreferrer' target='_blank' title='youtube'></a></li>
                                <li class='pinterest'><a alt='pinterest' class='fa-pinterest'
                                        href='https://www.pinterest.com/probloggertemplates/' rel='noopener noreferrer'
                                        target='_blank' title='pinterest'></a></li>
                                <li class='Teste'><a alt='Teste' class='fa-Teste'
                                        href='{getPosts} $label={Your Label} $type={Your Label} $color={#ff0000}'
                                        rel='noopener noreferrer' target='_blank' title='Teste'></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class='main-header'>
                <div class='header-inner'>
                    <div class='header-header flex-c'>
                        <div class='container row-x1'>
                            <div class='header-items'>
                                <div class='flex-left'>
                                    <a class='mobile-menu-toggle' href='#' role='button' title='Menu'></a>
                                    <div class='main-logo section' id='main-logo' name='Header Logo'>
                                        <div class='widget Image' data-version='2' id='Image50'>
                                            <a class='logo-img' href='https://magspot-template.blogspot.com/'
                                                rel='home'>
                                                <img alt='Magspot - Blogger Template'
                                                    data-dark-src='https://1.bp.blogspot.com/-EG9_OzrmI9Q/YTtnl8J2U0I/AAAAAAAAAfI/Vta2ee6-b4UAX7DocjFIJCFe8QVL-dxvQCLcBGAsYHQ/dark-logo.png'
                                                    data-src='https://1.bp.blogspot.com/-qk-KYK0bNHs/YTtnqLmlGcI/AAAAAAAAAfM/QHXtzMxhl7kLAGjfMOM8E73Th_TZsnOJgCLcBGAsYHQ/s320/logo.png'
                                                    height='80'
                                                    src='https://1.bp.blogspot.com/-qk-KYK0bNHs/YTtnqLmlGcI/AAAAAAAAAfM/QHXtzMxhl7kLAGjfMOM8E73Th_TZsnOJgCLcBGAsYHQ/s320/logo.png'
                                                    title='Magspot - Blogger Template' width='320'>
                                                </img>
                                                <h1 id='h1-off'>Magspot - Blogger Template</h1>
                                            </a>
                                        </div>
                                    </div>
                                    <div class='magspot-main-menu section' id='magspot-main-menu' name='Header Menu'>
                                        <div class='widget LinkList' data-version='2' id='LinkList200'>
                                            <ul class='main-nav' id='main-nav'>
                                                <li id='item-0'><a href='/'>Home</a></li>
                                                <li id='item-1'><a href='#'>Features</a></li>
                                                <li id='item-2'><a href='#'>_Ticker News</a></li>
                                                <li id='item-3'><a href='#'>_5 Featured Styles</a></li>
                                                <li id='item-4'><a href='#'>_8 Content Blocks</a></li>
                                                <li id='item-5'><a href='#'>_Post Layouts</a></li>
                                                <li id='item-6'><a
                                                        href='/2021/07/9-benefits-of-swimming-weight-loss.html'>__Left
                                                        Sidebar</a></li>
                                                <li id='item-7'><a
                                                        href='/2021/07/7-things-to-know-when-planning-your-trip.html'>__Full
                                                        Width</a></li>
                                                <li id='item-8'><a
                                                        href='/2021/07/why-navigation-system-doesnt-work-always.html'>__Right
                                                        Sidebar</a></li>
                                                <li id='item-9'><a href='#'>_Contact Page</a></li>
                                                <li id='item-10'><a href='#'>_Error Page</a></li>
                                                <li id='item-11'><a href='#'>_RTL Support</a></li>
                                                <li id='item-12'><a href='#'>_MailChimp</a></li>
                                                <li class='has-sub mega-menu' id='item-13'>
                                                    <a data-shortcode='{getPosts} $label={recent}' href='#'>Mega
                                                        Menu</a>
                                                </li>
                                                <li class='has-sub mega-menu' id='item-14'>
                                                    <a data-shortcode='{getPosts} $label={Laptops/Gadgets/Reviews/Mobile/Consoles} $type={tabs}'
                                                        href='#'>Mega Tabs</a>
                                                </li>
                                                <li id='item-15'><a href='/p/tipography.html'>Tipography</a></li>
                                                <li id='item-16'><a href='/p/shortcodes.html'>Shortcodes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class='flex-right'>
                                    <div class='toggle-wrap'>
                                        <a aria-label='Dark Mode' class='darkmode-toggle' href='#' role='button'></a>
                                        <a class='search-toggle show-search' href='#' role='button' title='Search'></a>
                                    </div>
                                </div>
                                <div id='main-search-wrap'>
                                    <div class='main-search'>
                                        <form action='https://magspot-template.blogspot.com/search' class='search-form'
                                            target='_top'>
                                            <input aria-label='Search' autocomplete='off' class='search-input' name='q'
                                                placeholder='Search' type='search' value='' />
                                            <button class='search-toggle search-close' type='reset' value=''></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class='flex-c has-feat' id='ticker-wrapper'>
            <div class='ticker container row-x1 section' id='ticker' name='Ticker News'>
                <div class='widget PopularPosts' data-version='2' id='PopularPosts3'>
                    <div class='widget-title'>
                        <h3 class='title'>Trending</h3>
                    </div>
                    <div class='widget-content'>
                        <div class='ticker-items'>
                            <div class='ticker-item item-0'>
                                <h2 class='entry-title'><a
                                        href='https://magspot-template.blogspot.com/2021/08/11-of-best-laptops-evaluated-based-on.html'
                                        title='11 of Best Laptops Evaluated Based on Budget'>11 of Best Laptops
                                        Evaluated Based on Budget</a></h2>
                            </div>
                            <div class='ticker-item item-1'>
                                <h2 class='entry-title'><a
                                        href='https://magspot-template.blogspot.com/2021/07/how-we-know-disinfectants-should-kill.html'
                                        title='How We Know Disinfectants Should Kill the Covid-19'>How We Know
                                        Disinfectants Should Kill the Covid-19</a></h2>
                            </div>
                            <div class='ticker-item item-2'>
                                <h2 class='entry-title'><a
                                        href='https://magspot-template.blogspot.com/2021/08/apple-watch-series-5-is-best-one-yet-by.html'
                                        title='Apple Watch Series 5 is the Best One Yet By Consumer'>Apple Watch Series
                                        5 is the Best One Yet By Consumer</a></h2>
                            </div>
                            <div class='ticker-item item-3'>
                                <h2 class='entry-title'><a
                                        href='https://magspot-template.blogspot.com/2021/08/heres-what-people-think-of-ios-13-new.html'
                                        title='Here’s What People Think of iOS 13 New Dark Mode'>Here&#8217;s What
                                        People Think of iOS 13 New Dark Mode</a></h2>
                            </div>
                            <div class='ticker-item item-4'>
                                <h2 class='entry-title'><a
                                        href='https://magspot-template.blogspot.com/2021/07/how-to-get-covid-19-related-alerts-on.html'
                                        title='How to Get COVID-19 Related Alerts on Your Phone'>How to Get COVID-19
                                        Related Alerts on Your Phone</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='flex-c has-ticker' id='featured-wrapper'>
            <div class='featured container row-x1 section' id='featured' name='Featured Posts'>
                <div class='widget HTML is-visible' data-version='2' id='HTML11'>
                    <div class='widget-content' data-shortcode='{getPosts} $label={recent} $style={1}'>
                    </div>
                </div>
            </div>
        </div>
        <div class='flex-c' id='content-wrapper'>
            <div class='container row-x1 flex-sb'>
                <main class='has-margin' id='main-wrapper'>
                    <div class='content-section section' id='content-section-1' name='Content Section 1'>
                        <div class='widget HTML is-visible' data-version='2' id='HTML14'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>World News</h3>
                            </div>
                            <div class='widget-content'
                                data-shortcode='{getPosts} $results={5} $label={Healthy} $type={block1}'>
                            </div>
                        </div>
                        <div class='widget HTML is-visible' data-version='2' id='HTML7'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Reviews</h3>
                            </div>
                            <div class='widget-content'
                                data-shortcode='{getPosts} $results={6} $label={Reviews} $type={grid2}'>
                            </div>
                        </div>
                        <div class='widget HTML is-visible' data-version='2' id='HTML8'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Gadgets</h3>
                            </div>
                            <div class='widget-content'
                                data-shortcode='{getPosts} $results={4} $label={Gadgets} $type={col-left}'>
                            </div>
                        </div>
                        <div class='widget HTML is-visible' data-version='2' id='HTML13'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Laptops</h3>
                            </div>
                            <div class='widget-content'
                                data-shortcode='{getPosts} $results={4} $label={Laptops} $type={col-right}'>
                            </div>
                        </div>
                    </div>
                    <div class='main section' id='main' name='Main Posts'>
                        <div class='widget Blog index-blog flex-col' data-version='2' id='Blog1'>
                            <div class='title-wrap main-title'>
                                <h3 class='title'>Latest Posts</h3><a class='title-link' href='/search'>View all</a>
                            </div>
                            <div class='blog-posts index-post-wrap list1-items'>
                                <article class='index-post list1-item hentry post-0'>
                                    <a class='entry-image-wrap is-image'
                                        href='https://magspot-template.blogspot.com/2021/08/11-of-best-laptops-evaluated-based-on.html'
                                        title='11 of Best Laptops Evaluated Based on Budget'><span class='entry-image'
                                            data-src='https://1.bp.blogspot.com/-uK5sQ5rOkRU/YQf0I-jK87I/AAAAAAAAAW0/INcqkESmgFYXh__ci2SPmMUHziYhGchtwCLcBGAsYHQ/w72-h72-p-k-no-nu/pbt66.jpg'></span>
                                        <span class='entry-category'>Apple</span>
                                    </a>
                                    <div class='entry-header'>
                                        <h2 class='entry-title'><a
                                                href='https://magspot-template.blogspot.com/2021/08/11-of-best-laptops-evaluated-based-on.html'
                                                rel='bookmark' title='11 of Best Laptops Evaluated Based on Budget'>11
                                                of Best Laptops Evaluated Based on Budget</a></h2>
                                        <p class='entry-excerpt excerpt'>Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem Ipsum has been&#8230;</p>
                                        <div class='entry-meta'>
                                            <span class='entry-author mi'><span class='by sp'>by</span><span
                                                    class='author-name'>John Doe</span></span>
                                            <span class='entry-time mi'><span class='sp'>-</span><time class='published'
                                                    datetime='2021-08-02T06:33:00-07:00'>August 02, 2021</time></span>
                                        </div>
                                    </div>
                                </article>
                                <article class='index-post list1-item hentry post-1'>
                                    <a class='entry-image-wrap is-image'
                                        href='https://magspot-template.blogspot.com/2021/08/apple-watch-series-5-is-best-one-yet-by.html'
                                        title='Apple Watch Series 5 is the Best One Yet By Consumer'><span
                                            class='entry-image'
                                            data-src='https://1.bp.blogspot.com/-7vg-bSX8xLI/YQfz0dY-yoI/AAAAAAAAAWs/t91KpNFtLSYrInDU5jWlbeotvsEyrrsuwCLcBGAsYHQ/w72-h72-p-k-no-nu/pbt65.jpg'></span>
                                        <span class='entry-category'>Laptops</span>
                                    </a>
                                    <div class='entry-header'>
                                        <h2 class='entry-title'><a
                                                href='https://magspot-template.blogspot.com/2021/08/apple-watch-series-5-is-best-one-yet-by.html'
                                                rel='bookmark'
                                                title='Apple Watch Series 5 is the Best One Yet By Consumer'>Apple Watch
                                                Series 5 is the Best One Yet By Consumer</a></h2>
                                        <p class='entry-excerpt excerpt'>Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem Ipsum has been&#8230;</p>
                                        <div class='entry-meta'>
                                            <span class='entry-author mi'><span class='by sp'>by</span><span
                                                    class='author-name'>John Doe</span></span>
                                            <span class='entry-time mi'><span class='sp'>-</span><time class='published'
                                                    datetime='2021-08-02T06:32:00-07:00'>August 02, 2021</time></span>
                                        </div>
                                    </div>
                                </article>
                                <article class='index-post list1-item hentry post-2'>
                                    <a class='entry-image-wrap is-image'
                                        href='https://magspot-template.blogspot.com/2021/08/heres-what-people-think-of-ios-13-new.html'
                                        title='Here’s What People Think of iOS 13 New Dark Mode'><span
                                            class='entry-image'
                                            data-src='https://1.bp.blogspot.com/-gj2q6SmAQ8w/YQfyUcMT0sI/AAAAAAAAAWM/NPXqUCw77IEK7JCX930V-tdVQxwy-SOZACLcBGAsYHQ/w72-h72-p-k-no-nu/pbt61.jpg'></span>
                                        <span class='entry-category'>Laptops</span>
                                    </a>
                                    <div class='entry-header'>
                                        <h2 class='entry-title'><a
                                                href='https://magspot-template.blogspot.com/2021/08/heres-what-people-think-of-ios-13-new.html'
                                                rel='bookmark'
                                                title='Here’s What People Think of iOS 13 New Dark Mode'>Here&#8217;s
                                                What People Think of iOS 13 New Dark Mode</a></h2>
                                        <p class='entry-excerpt excerpt'>Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem Ipsum has been&#8230;</p>
                                        <div class='entry-meta'>
                                            <span class='entry-author mi'><span class='by sp'>by</span><span
                                                    class='author-name'>John Doe</span></span>
                                            <span class='entry-time mi'><span class='sp'>-</span><time class='published'
                                                    datetime='2021-08-02T06:28:00-07:00'>August 02, 2021</time></span>
                                        </div>
                                    </div>
                                </article>
                                <article class='index-post list1-item hentry post-3'>
                                    <a class='entry-image-wrap is-image'
                                        href='https://magspot-template.blogspot.com/2021/08/18-practices-for-building-responsive.html'
                                        title='18 Practices for Building Responsive Web Applications'><span
                                            class='entry-image'
                                            data-src='https://1.bp.blogspot.com/-mMOheBhfqNw/YQfynJ__muI/AAAAAAAAAWU/aYmWy7V9Aocp1npTdAgOgBT8-3mZ0ZvowCLcBGAsYHQ/w72-h72-p-k-no-nu/pbt62.jpg'></span>
                                        <span class='entry-category'>Apple</span>
                                    </a>
                                    <div class='entry-header'>
                                        <h2 class='entry-title'><a
                                                href='https://magspot-template.blogspot.com/2021/08/18-practices-for-building-responsive.html'
                                                rel='bookmark'
                                                title='18 Practices for Building Responsive Web Applications'>18
                                                Practices for Building Responsive Web Applications</a></h2>
                                        <p class='entry-excerpt excerpt'>Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem Ipsum has been&#8230;</p>
                                        <div class='entry-meta'>
                                            <span class='entry-author mi'><span class='by sp'>by</span><span
                                                    class='author-name'>John Doe</span></span>
                                            <span class='entry-time mi'><span class='sp'>-</span><time class='published'
                                                    datetime='2021-08-02T06:27:00-07:00'>August 02, 2021</time></span>
                                        </div>
                                    </div>
                                </article>
                                <article class='index-post list1-item hentry post-4'>
                                    <a class='entry-image-wrap is-image'
                                        href='https://magspot-template.blogspot.com/2021/08/opera-browser-lets-you-apply-dark-mode.html'
                                        title='Opera Browser Lets You Apply Dark Mode to Web Page'><span
                                            class='entry-image'
                                            data-src='https://1.bp.blogspot.com/-i78PciO1oZ8/YQfy_fz9M8I/AAAAAAAAAWc/8wfb1kBKDtUXlGq01SjvkZqjPP-Ac3lzgCLcBGAsYHQ/w72-h72-p-k-no-nu/pbt63.jpg'></span>
                                        <span class='entry-category'>Laptops</span>
                                    </a>
                                    <div class='entry-header'>
                                        <h2 class='entry-title'><a
                                                href='https://magspot-template.blogspot.com/2021/08/opera-browser-lets-you-apply-dark-mode.html'
                                                rel='bookmark'
                                                title='Opera Browser Lets You Apply Dark Mode to Web Page'>Opera Browser
                                                Lets You Apply Dark Mode to Web Page</a></h2>
                                        <p class='entry-excerpt excerpt'>Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem Ipsum has been&#8230;</p>
                                        <div class='entry-meta'>
                                            <span class='entry-author mi'><span class='by sp'>by</span><span
                                                    class='author-name'>John Doe</span></span>
                                            <span class='entry-time mi'><span class='sp'>-</span><time class='published'
                                                    datetime='2021-08-02T06:24:00-07:00'>August 02, 2021</time></span>
                                        </div>
                                    </div>
                                </article>
                                <article class='index-post list1-item hentry post-5'>
                                    <a class='entry-image-wrap is-image'
                                        href='https://magspot-template.blogspot.com/2021/08/apple-macbook-pro-is-best-one-yet-by.html'
                                        title='Apple Macbook Pro is the Best One Yet By Consumer'><span
                                            class='entry-image'
                                            data-src='https://1.bp.blogspot.com/-yi3m2kRI9TI/YQf39Eo-ZLI/AAAAAAAAAXM/_B-rd9nER_o7Df5-dsH4p7Phzl5NTeMcgCLcBGAsYHQ/w72-h72-p-k-no-nu/pbt64.jpg'></span>
                                        <span class='entry-category'>Apple</span>
                                    </a>
                                    <div class='entry-header'>
                                        <h2 class='entry-title'><a
                                                href='https://magspot-template.blogspot.com/2021/08/apple-macbook-pro-is-best-one-yet-by.html'
                                                rel='bookmark'
                                                title='Apple Macbook Pro is the Best One Yet By Consumer'>Apple Macbook
                                                Pro is the Best One Yet By Consumer</a></h2>
                                        <p class='entry-excerpt excerpt'>Lorem Ipsum is simply dummy text of the
                                            printing and typesetting industry. Lorem Ipsum has been&#8230;</p>
                                        <div class='entry-meta'>
                                            <span class='entry-author mi'><span class='by sp'>by</span><span
                                                    class='author-name'>John Doe</span></span>
                                            <span class='entry-time mi'><span class='sp'>-</span><time class='published'
                                                    datetime='2021-08-02T06:23:00-07:00'>August 02, 2021</time></span>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class='blog-pager' id='blog-pager'>
                                <a class='blog-pager-older-link load-more btn'
                                    data-load='https://magspot-template.blogspot.com/search?updated-max=2021-08-02T06:23:00-07:00&amp;max-results=6'
                                    href='#' id='magspot-load-more-link'>
                                    Load More
                                </a>
                                <span class='loading'>
                                    <div class='loader'></div>
                                </span>
                                <span class='no-more load-more btn'>No results found</span>
                            </div>
                        </div>
                    </div>
                    <div class='content-section section' id='content-section-2' name='Content Section 2'>
                        <div class='widget HTML is-visible' data-version='2' id='HTML15'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Videos</h3>
                            </div>
                            <div class='widget-content'
                                data-shortcode='{getPosts} $results={5} $label={Games} $type={video} $style={1}'>
                            </div>
                        </div>
                        <div class='widget HTML is-visible' data-version='2' id='HTML21'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Consoles</h3>
                            </div>
                            <div class='widget-content'
                                data-shortcode='{getPosts} $results={4} $label={Consoles} $type={grid1}'>
                            </div>
                        </div>
                        <div class='widget HTML is-visible' data-version='2' id='HTML20'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Mobile</h3>
                            </div>
                            <div class='widget-content'
                                data-shortcode='{getPosts} $results={4} $label={Mobile} $type={list1}'>
                            </div>
                        </div>
                        <div class='widget HTML is-visible' data-version='2' id='HTML10'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Car News</h3>
                            </div>
                            <div class='widget-content'
                                data-shortcode='{getPosts} $results={4} $label={Cars} $type={block2}'>
                            </div>
                        </div>
                    </div>
                </main>
                <aside id='sidebar-wrapper'>
                    <div class='sidebar pbt-section section' id='sidebar' name='Sidebar'>
                        <div class='widget LinkList' data-version='2' id='LinkList1'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Follow Us</h3>
                            </div>
                            <div class='widget-content'>
                                <ul class='social-icons social sb-a'>
                                    <li class='facebook'><a alt='facebook' class='fa-facebook btn' data-side='true'
                                            href='https://www.facebook.com/probloggertemplates # Facebook'
                                            rel='noopener noreferrer' target='_blank' title='facebook'></a></li>
                                    <li class='twitter'><a alt='twitter' class='fa-twitter btn' data-side='true'
                                            href='https://twitter.com/probtemplates # Twitter' rel='noopener noreferrer'
                                            target='_blank' title='twitter'></a></li>
                                    <li class='youtube'><a alt='youtube' class='fa-youtube btn' data-side='true'
                                            href='https://www.youtube.com/probloggertemplates?sub_confirmation=1 # YouTube'
                                            rel='noopener noreferrer' target='_blank' title='youtube'></a></li>
                                    <li class='instagram'><a alt='instagram' class='fa-instagram btn' data-side='true'
                                            href='https://instagram.com/probloggertemplates # Instagram'
                                            rel='noopener noreferrer' target='_blank' title='instagram'></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class='widget PopularPosts' data-version='2' id='PopularPosts2'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Popular Posts</h3>
                            </div>
                            <div class='widget-content side-items'>
                                <div class='side-item cs item-0'>
                                    <a class='entry-inner'
                                        href='https://magspot-template.blogspot.com/2021/08/11-of-best-laptops-evaluated-based-on.html'
                                        title='11 of Best Laptops Evaluated Based on Budget'>
                                        <span class='entry-image-wrap before-mask is-image'><span class='entry-image'
                                                data-src='https://1.bp.blogspot.com/-uK5sQ5rOkRU/YQf0I-jK87I/AAAAAAAAAW0/INcqkESmgFYXh__ci2SPmMUHziYhGchtwCLcBGAsYHQ/w72-h72-p-k-no-nu/pbt66.jpg'></span>
                                        </span>
                                        <div class='entry-header entry-info'>
                                            <span class='entry-category'>Apple</span>
                                            <h2 class='entry-title'>11 of Best Laptops Evaluated Based on Budget</h2>
                                            <div class='entry-meta'><span class='entry-author mi'><span
                                                        class='sp'>by</span><span class='author-name'>John
                                                        Doe</span></span><span class='entry-time mi'><span
                                                        class='sp'>-</span><time class='published'
                                                        datetime='2021-08-02T06:33:00-07:00'>August 02,
                                                        2021</time></span></div>
                                        </div>
                                    </a>
                                </div>
                                <div class='side-item item-1'>
                                    <a class='entry-image-wrap sz-1 is-image'
                                        href='https://magspot-template.blogspot.com/2021/07/how-we-know-disinfectants-should-kill.html'
                                        title='How We Know Disinfectants Should Kill the Covid-19'><span
                                            class='entry-image'
                                            data-src='https://1.bp.blogspot.com/-924Nb_-CUFk/YQWxvsD9YjI/AAAAAAAAATs/QxsGc6FOEE4wbNcATLB9to38uneI51YEACLcBGAsYHQ/w72-h72-p-k-no-nu/pbt41.jpg'></span>
                                    </a>
                                    <div class='entry-header'>
                                        <h2 class='entry-title'><a
                                                href='https://magspot-template.blogspot.com/2021/07/how-we-know-disinfectants-should-kill.html'
                                                title='How We Know Disinfectants Should Kill the Covid-19'>How We Know
                                                Disinfectants Should Kill the Covid-19</a></h2>
                                        <div class='entry-meta'><time class='published'
                                                datetime='2021-07-31T12:21:00-07:00'>July 31, 2021</time></div>
                                    </div>
                                </div>
                                <div class='side-item item-2'>
                                    <a class='entry-image-wrap sz-1 is-image'
                                        href='https://magspot-template.blogspot.com/2021/08/apple-watch-series-5-is-best-one-yet-by.html'
                                        title='Apple Watch Series 5 is the Best One Yet By Consumer'><span
                                            class='entry-image'
                                            data-src='https://1.bp.blogspot.com/-7vg-bSX8xLI/YQfz0dY-yoI/AAAAAAAAAWs/t91KpNFtLSYrInDU5jWlbeotvsEyrrsuwCLcBGAsYHQ/w72-h72-p-k-no-nu/pbt65.jpg'></span>
                                    </a>
                                    <div class='entry-header'>
                                        <h2 class='entry-title'><a
                                                href='https://magspot-template.blogspot.com/2021/08/apple-watch-series-5-is-best-one-yet-by.html'
                                                title='Apple Watch Series 5 is the Best One Yet By Consumer'>Apple Watch
                                                Series 5 is the Best One Yet By Consumer</a></h2>
                                        <div class='entry-meta'><time class='published'
                                                datetime='2021-08-02T06:32:00-07:00'>August 02, 2021</time></div>
                                    </div>
                                </div>
                                <div class='side-item item-3'>
                                    <a class='entry-image-wrap sz-1 is-image'
                                        href='https://magspot-template.blogspot.com/2021/08/heres-what-people-think-of-ios-13-new.html'
                                        title='Here’s What People Think of iOS 13 New Dark Mode'><span
                                            class='entry-image'
                                            data-src='https://1.bp.blogspot.com/-gj2q6SmAQ8w/YQfyUcMT0sI/AAAAAAAAAWM/NPXqUCw77IEK7JCX930V-tdVQxwy-SOZACLcBGAsYHQ/w72-h72-p-k-no-nu/pbt61.jpg'></span>
                                    </a>
                                    <div class='entry-header'>
                                        <h2 class='entry-title'><a
                                                href='https://magspot-template.blogspot.com/2021/08/heres-what-people-think-of-ios-13-new.html'
                                                title='Here’s What People Think of iOS 13 New Dark Mode'>Here&#8217;s
                                                What People Think of iOS 13 New Dark Mode</a></h2>
                                        <div class='entry-meta'><time class='published'
                                                datetime='2021-08-02T06:28:00-07:00'>August 02, 2021</time></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='widget HTML' data-version='2' id='HTML12'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Travel</h3>
                            </div>
                            <div class='widget-content'
                                data-shortcode='{getPosts} $results={4} $label={Travel} $style={3}'>
                            </div>
                        </div>
                        <div class='widget HTML MailChimp' data-version='2' id='HTML19'>
                            <div class='widget-content'
                                data-shortcode='{getMailchimp} $title={Mailchimp Form} $text={Subscribe to our mailing list to get the new updates.}'>
                                <h3 class='mailchimp-title'>Subscribe</h3>
                                <p class='mailchimp-text excerpt'>Get email notifications</p>
                                <div class='mailchimp-form'>
                                    <form
                                        action='https://probloggertemplates.us6.list-manage.com/subscribe?u=98155398e3195ed8f58e2b86c&id=64e8605563'
                                        method='post' name='mc-embedded-subscribe-form' novalidate=''
                                        onsubmit='window.open("https://probloggertemplates.us6.list-manage.com/subscribe?u=98155398e3195ed8f58e2b86c&id=64e8605563", "popupwindow", "scrollbars=yes,width=550,height=520"); return true'
                                        target='popupwindow'>
                                        <input aria-label='Email Address' class='mailchimp-email-address' name='EMAIL'
                                            placeholder='Email Address' type='email' value='' />
                                        <input class='mailchimp-submit btn' name='subscribe' type='submit'
                                            value='Subscribe' />
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class='widget HTML' data-version='2' id='HTML5'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Comments</h3>
                            </div>
                            <div class='widget-content' data-shortcode='{getPosts} $results={3} $type={comments}'>
                            </div>
                        </div>
                        <div class='widget Label' data-version='2' id='Label1'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Categories</h3>
                            </div>
                            <div class='widget-content list-label'>
                                <ul class='list-style'>
                                    <li><a class='label-name has-count'
                                            href='https://magspot-template.blogspot.com/search/label/Gadgets'>Gadgets
                                            <span class='label-count count-style'>(6)</span></a></li>
                                    <li><a class='label-name has-count'
                                            href='https://magspot-template.blogspot.com/search/label/Healthy'>Healthy
                                            <span class='label-count count-style'>(6)</span></a></li>
                                    <li><a class='label-name has-count'
                                            href='https://magspot-template.blogspot.com/search/label/Podcasts'>Podcasts
                                            <span class='label-count count-style'>(6)</span></a></li>
                                    <li><a class='label-name has-count'
                                            href='https://magspot-template.blogspot.com/search/label/Reviews'>Reviews
                                            <span class='label-count count-style'>(7)</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class='widget Label' data-version='2' id='Label2'>
                            <div class='widget-title title-wrap'>
                                <h3 class='title'>Main Tags</h3>
                            </div>
                            <div class='widget-content cloud-label'>
                                <ul class='cloud-style'>
                                    <li><a class='label-name btn'
                                            href='https://magspot-template.blogspot.com/search/label/Cars'>Cars</a></li>
                                    <li><a class='label-name btn'
                                            href='https://magspot-template.blogspot.com/search/label/Gadgets'>Gadgets</a>
                                    </li>
                                    <li><a class='label-name btn'
                                            href='https://magspot-template.blogspot.com/search/label/Games'>Games</a>
                                    </li>
                                    <li><a class='label-name btn'
                                            href='https://magspot-template.blogspot.com/search/label/Healthy'>Healthy</a>
                                    </li>
                                    <li><a class='label-name btn'
                                            href='https://magspot-template.blogspot.com/search/label/Podcasts'>Podcasts</a>
                                    </li>
                                    <li><a class='label-name btn'
                                            href='https://magspot-template.blogspot.com/search/label/Reviews'>Reviews</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <footer class='flex-col' id='footer-wrapper'>
            <div class='primary-footer flex-c'>
                <div class='container row-x1'>
                    <div class='footer-widgets has-border'>
                        <div class='footer-section pbt-section flex-col section' id='footer-col-1' name='Footer Left'>
                            <div class='widget Label' data-version='2' id='Label3'>
                                <div class='widget-title'>
                                    <h3 class='title'>Categories</h3>
                                </div>
                                <div class='widget-content list-label'>
                                    <ul class='list-style'>
                                        <li><a class='label-name has-count'
                                                href='https://magspot-template.blogspot.com/search/label/Gadgets'>Gadgets
                                                <span class='label-count count-style'>(6)</span></a></li>
                                        <li><a class='label-name has-count'
                                                href='https://magspot-template.blogspot.com/search/label/Podcasts'>Podcasts
                                                <span class='label-count count-style'>(6)</span></a></li>
                                        <li><a class='label-name has-count'
                                                href='https://magspot-template.blogspot.com/search/label/Reviews'>Reviews
                                                <span class='label-count count-style'>(7)</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class='widget Label' data-version='2' id='Label4'>
                                <div class='widget-title'>
                                    <h3 class='title'>Main Tags</h3>
                                </div>
                                <div class='widget-content cloud-label'>
                                    <ul class='cloud-style'>
                                        <li><a class='label-name btn'
                                                href='https://magspot-template.blogspot.com/search/label/Gadgets'>Gadgets</a>
                                        </li>
                                        <li><a class='label-name btn'
                                                href='https://magspot-template.blogspot.com/search/label/Games'>Games</a>
                                        </li>
                                        <li><a class='label-name btn'
                                                href='https://magspot-template.blogspot.com/search/label/Healthy'>Healthy</a>
                                        </li>
                                        <li><a class='label-name btn'
                                                href='https://magspot-template.blogspot.com/search/label/Podcasts'>Podcasts</a>
                                        </li>
                                        <li><a class='label-name btn'
                                                href='https://magspot-template.blogspot.com/search/label/Reviews'>Reviews</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class='footer-section pbt-section flex-col section' id='footer-col-2' name='Footer Center'>
                            <div class='widget HTML' data-version='2' id='HTML16'>
                                <div class='widget-title'>
                                    <h3 class='title'>Latest Posts</h3>
                                </div>
                                <div class='widget-content' data-is='footer'
                                    data-shortcode='{getPosts} $results={3} $label={recent} $style={2}'>
                                </div>
                            </div>
                        </div>
                        <div class='footer-section pbt-section flex-col section' id='footer-col-3' name='Footer Right'>
                            <div class='widget PopularPosts' data-version='2' id='PopularPosts1'>
                                <div class='widget-title'>
                                    <h3 class='title'>Popular Posts</h3>
                                </div>
                                <div class='widget-content side-items'>
                                    <div class='side-item item-0'>
                                        <a class='entry-image-wrap sz-1 is-image'
                                            href='https://magspot-template.blogspot.com/2021/08/11-of-best-laptops-evaluated-based-on.html'
                                            title='11 of Best Laptops Evaluated Based on Budget'><span
                                                class='entry-image'
                                                data-src='https://1.bp.blogspot.com/-uK5sQ5rOkRU/YQf0I-jK87I/AAAAAAAAAW0/INcqkESmgFYXh__ci2SPmMUHziYhGchtwCLcBGAsYHQ/w72-h72-p-k-no-nu/pbt66.jpg'></span>
                                        </a>
                                        <div class='entry-header'>
                                            <h2 class='entry-title'><a
                                                    href='https://magspot-template.blogspot.com/2021/08/11-of-best-laptops-evaluated-based-on.html'
                                                    title='11 of Best Laptops Evaluated Based on Budget'>11 of Best
                                                    Laptops Evaluated Based on Budget</a></h2>
                                            <div class='entry-meta'><time class='published'
                                                    datetime='2021-08-02T06:33:00-07:00'>August 02, 2021</time></div>
                                        </div>
                                    </div>
                                    <div class='side-item item-1'>
                                        <a class='entry-image-wrap sz-1 is-image'
                                            href='https://magspot-template.blogspot.com/2021/07/how-we-know-disinfectants-should-kill.html'
                                            title='How We Know Disinfectants Should Kill the Covid-19'><span
                                                class='entry-image'
                                                data-src='https://1.bp.blogspot.com/-924Nb_-CUFk/YQWxvsD9YjI/AAAAAAAAATs/QxsGc6FOEE4wbNcATLB9to38uneI51YEACLcBGAsYHQ/w72-h72-p-k-no-nu/pbt41.jpg'></span>
                                        </a>
                                        <div class='entry-header'>
                                            <h2 class='entry-title'><a
                                                    href='https://magspot-template.blogspot.com/2021/07/how-we-know-disinfectants-should-kill.html'
                                                    title='How We Know Disinfectants Should Kill the Covid-19'>How We
                                                    Know Disinfectants Should Kill the Covid-19</a></h2>
                                            <div class='entry-meta'><time class='published'
                                                    datetime='2021-07-31T12:21:00-07:00'>July 31, 2021</time></div>
                                        </div>
                                    </div>
                                    <div class='side-item item-2'>
                                        <a class='entry-image-wrap sz-1 is-image'
                                            href='https://magspot-template.blogspot.com/2021/08/apple-watch-series-5-is-best-one-yet-by.html'
                                            title='Apple Watch Series 5 is the Best One Yet By Consumer'><span
                                                class='entry-image'
                                                data-src='https://1.bp.blogspot.com/-7vg-bSX8xLI/YQfz0dY-yoI/AAAAAAAAAWs/t91KpNFtLSYrInDU5jWlbeotvsEyrrsuwCLcBGAsYHQ/w72-h72-p-k-no-nu/pbt65.jpg'></span>
                                        </a>
                                        <div class='entry-header'>
                                            <h2 class='entry-title'><a
                                                    href='https://magspot-template.blogspot.com/2021/08/apple-watch-series-5-is-best-one-yet-by.html'
                                                    title='Apple Watch Series 5 is the Best One Yet By Consumer'>Apple
                                                    Watch Series 5 is the Best One Yet By Consumer</a></h2>
                                            <div class='entry-meta'><time class='published'
                                                    datetime='2021-08-02T06:32:00-07:00'>August 02, 2021</time></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='about-section flex-sb section' id='magspot-about-section' name='About Section'>
                        <div class='widget Image' data-version='2' id='Image51'>
                            <a class='footer-logo custom-image' href='https://magspot-template.blogspot.com/'
                                rel='home'>
                                <img alt='Magspot - Blogger Template'
                                    data-src='https://1.bp.blogspot.com/-ogJcgqV3vIY/YTkSC7V8-9I/AAAAAAAAAeM/CZqbD8p4wRInPRzed1A2PMXXRkw2_C1lQCLcBGAsYHQ/s320/dark-logo.png'
                                    height='80' id='Image51_img'
                                    src='https://1.bp.blogspot.com/-ogJcgqV3vIY/YTkSC7V8-9I/AAAAAAAAAeM/CZqbD8p4wRInPRzed1A2PMXXRkw2_C1lQCLcBGAsYHQ/s320/dark-logo.png'
                                    width='320'>
                                </img>
                            </a>
                            <div class='footer-info'>
                                <h3 class='title'>About Us</h3>
                                <p class='image-caption excerpt'>Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry. Lorem Ipsum has been the industry's.</p>
                            </div>
                        </div>
                        <div class='widget LinkList' data-version='2' id='LinkList203'>
                            <ul class='social-icons social sb-h'>
                                <li class='facebook'><a alt='facebook' class='fa-facebook btn'
                                        href='https://www.facebook.com/probloggertemplates' rel='noopener noreferrer'
                                        target='_blank' title='facebook'></a></li>
                                <li class='twitter'><a alt='twitter' class='fa-twitter btn'
                                        href='https://twitter.com/probtemplates' rel='noopener noreferrer'
                                        target='_blank' title='twitter'></a></li>
                                <li class='youtube'><a alt='youtube' class='fa-youtube btn'
                                        href='https://www.youtube.com/probloggertemplates?sub_confirmation=1'
                                        rel='noopener noreferrer' target='_blank' title='youtube'></a></li>
                                <li class='instagram'><a alt='instagram' class='fa-instagram btn'
                                        href='https://instagram.com/probloggertemplates.com' rel='noopener noreferrer'
                                        target='_blank' title='instagram'></a></li>
                                <li class='pinterest'><a alt='pinterest' class='fa-pinterest btn'
                                        href='https://www.pinterest.com/probloggertemplates/' rel='noopener noreferrer'
                                        target='_blank' title='pinterest'></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class='footer-bar flex-c'>
                <div class='container row-x1 flex-sb'>
                    <div class='footer-copyright section' id='footer-copyright' name='Footer Copyright'>
                        <div class='widget Text' data-version='2' id='Text50'>
                            Design by - <a href="https://probloggertemplates.com/" title="Blogger Templates">Pro Blogger
                                Templates</a>
                        </div>
                    </div>
                    <div class='footer-menu section' id='footer-menu' name='Footer Menu'>
                        <div class='widget LinkList' data-version='2' id='LinkList204'>
                            <ul class='link-list'>
                                <li><a href='/'>Home</a></li>
                                <li><a href='#'>About Us</a></li>
                                <li><a href='#'>Privacy Policy</a></li>
                                <li><a href='#'>Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class='cookie-consent' id='magspot-cookie-consent'>
            <div class='section' id='cookie-consent-section' name='Cookie Consent'>
                <div class='widget Text' data-shortcode='$ok={Accept !} $days={7}' data-version='2' id='Text51'>
                    <p class='consent-text excerpt'>Our website uses cookies to improve your experience. <a
                            href="#">Learn more</a></p>
                    <a aria-label='Ok' class='consent-button btn' href='#' role='button'>Ok</a>
                </div>
            </div>
        </div>
    </div>
    <div id='slide-menu'>
        <div class='slide-menu-header'>
            <div class='mobile-logo'></div>
            <a class='hide-mobile-menu' href='#' role='button'></a>
        </div>
        <div class='slide-menu-flex'>
            <div class='mobile-menu' id='mobile-menu'></div>
            <div class='mm-footer'></div>
        </div>
    </div>
    <div class='overlay'></div>
    <a class='btn' href='#' id='back-top' role='button' title='Back To Top'></a>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js' type='text/javascript'></script>
    <script
        type='text/javascript'>var pbt = { fixedMenu: true, fixedSidebar: true, darkMode: false, userDarkMode: true, cardTag: true, thumbTag: true, noTitle: "No title", viewAll: "View all", postAuthor: true, postAuthorLabel: "by", postDate: true, postDateLabel: "-" }</script>

    
    <script type="text/javascript" src="{{ asset('assets/theia-sticky-sidebar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/app.js') }}"></script>

    <script type="text/javascript" src="https://www.blogger.com/static/v1/widgets/792789798-widgets.js"></script>
</body>

</html>