<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ asset('assets/backend/viho/images/favicon.png') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ asset('assets/backend/viho/images/favicon.png') }}" type="image/x-icon">
        <title>{{ title }}</title>
        <!-- Google font-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
            rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
            rel="stylesheet">
        <!-- Font Awesome-->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/backend/viho/css/fontawesome.css') }}">
        <!-- ico-font-->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/backend/viho/css/icofont.css') }}">
        <!-- Themify icon-->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/backend/viho/css/themify.css') }}">
        <!-- Flag icon-->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/backend/viho/css/flag-icon.css') }}">
        <!-- Feather icon-->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/backend/viho/css/feather-icon.css') }}">
        <!-- Plugins css start-->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/backend/viho/css/sweetalert2.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/backend/viho/css/select2.css') }}">
        <!-- Load js from page -->
        @!section('cssPlugin')
        <!-- Plugins css Ends-->
        <!-- Bootstrap css-->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/backend/viho/css/bootstrap.css') }}">
        <!-- App css-->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/backend/viho/css/color-1.css') }}">
        <link id="color" rel="stylesheet" href="{{ asset('assets/backend/viho/css/style.css') }}" media="screen">
        <!-- Responsive css-->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/backend/viho/css/responsive.css') }}">
        <!-- Any css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/backend/any/app.css') }}">
    </head>
    <body>
        <!-- Loader starts-->
        <div class="loader-wrapper">
            <div class="theme-loader">
                <div class="loader-p"></div>
            </div>
        </div>
        <!-- Loader ends-->
        <!-- page-wrapper Start       -->
        <div class="page-wrapper compact-wrapper" id="pageWrapper">
            <!-- Page Header Start-->
            <div class="page-main-header">
                <div class="main-header-right row m-0">
                    <div class="main-header-left">
                        <div class="logo-wrapper">
                            <a href="{{ route('backend.home') }}">
                            <img class="img-fluid" src="{{ asset('assets/backend/viho/images/logo/logo.png') }}" alt="">
                            </a>
                        </div>
                        <div class="dark-logo-wrapper">
                            <a href="{{ route('backend.home') }}"><img class="img-fluid" src="{{ asset('assets/backend/viho/images/logo/dark-logo.png') }}" alt=""></a>
                        </div>
                        <div class="toggle-sidebar"><i class="status_toggle middle" data-feather="align-center"
                            id="sidebar-toggle"></i></div>
                    </div>
                    <div class="nav-right col pull-right right-menu p-0">
                        <ul class="nav-menus">
                            <li class="onhover-dropdown p-0">
                                <button class="btn btn-primary-light" type="button"><a href="{{ route('backend.auth.logout') }}"><i data-feather="log-out"></i>Log out</a></button>
                            </li>
                        </ul>
                    </div>
                    <div class="d-lg-none mobile-toggle pull-right w-auto"><i data-feather="more-horizontal"></i></div>
                </div>
            </div>
            <!-- Page Header Ends                              -->
            <!-- Page Body Start-->
            <div class="page-body-wrapper sidebar-icon">
                <!-- Page Sidebar Start-->
                <header class="main-nav">
                    <div class="sidebar-user text-center">
                        <a class="setting-primary" href="javascript:void(0)">
                        <i data-feather="settings"></i>
                        </a>
                        <img class="img-90 rounded-circle" src="{{ asset('assets/backend/viho/images/dashboard/1.png') }}" alt="">
                        <div class="badge-bottom"><span class="badge badge-primary">New</span></div>
                        <a href="{{ route('backend.profile.index') }}">
                            <h6 class="mt-3 f-14 f-w-600">Emay Walter</h6>
                        </a>
                        <p class="mb-0 font-roboto">Human Resources Department</p>
                        <ul>
                            <li>
                                <span><span class="counter">19.8</span>k</span>
                                <p>Follow</p>
                            </li>
                            <li>
                                <span>2 year</span>
                                <p>Experince</p>
                            </li>
                            <li>
                                <span><span class="counter">95.2</span>k</span>
                                <p>Follower </p>
                            </li>
                        </ul>
                    </div>
                    <nav>
                        <div class="main-navbar">
                            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                            <div id="mainnav">
                                <ul class="nav-menu custom-scrollbar">
                                    <li class="back-btn">
                                        <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2"
                                            aria-hidden="true"></i></div>
                                    </li>
                                    <li class="sidebar-main-title">
                                        <div>
                                            <h6>General </h6>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a class="nav-link menu-title" href="javascript:void(0)">
                                        <i data-feather="home"></i><span>Menu</span></a>
                                        <ul class="nav-submenu menu-content">
                                            <li><a href="{{ route('backend.menu.index') }}">List</a></li>
                                            <li><a href="{{ route('backend.menu.create') }}">Add new</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a class="nav-link menu-title" href="javascript:void(0)">
                                        <i data-feather="home"></i><span>Page Build</span></a>
                                        <ul class="nav-submenu menu-content">
                                            <li><a href="{{ route('backend.page_builder.index') }}">List</a></li>
                                            <li><a href="{{ route('backend.page_builder.create') }}">Add new</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a class="nav-link menu-title" href="javascript:void(0)">
                                        <i data-feather="home"></i><span>Post</span></a>
                                        <ul class="nav-submenu menu-content">
                                            <li><a href="{{ route('backend.post.index') }}">List</a></li>
                                            <li><a href="{{ route('backend.post.create') }}">Add new</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a class="nav-link menu-title" href="javascript:void(0)">
                                        <i data-feather="home"></i><span>Category</span></a>
                                        <ul class="nav-submenu menu-content">
                                            <li><a href="{{ route('backend.category.index') }}">List</a></li>
                                            <li><a href="{{ route('backend.category.create') }}">Add new</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a class="nav-link menu-title" href="javascript:void(0)">
                                        <i data-feather="home"></i><span>Tag</span></a>
                                        <ul class="nav-submenu menu-content">
                                            <li><a href="{{ route('backend.tag.index') }}">List</a></li>
                                            <li><a href="{{ route('backend.tag.create') }}">Add new</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a class="nav-link menu-title" href="javascript:void(0)">
                                            <i data-feather="home"></i><span>Post Tool</span></a>
                                        <ul class="nav-submenu menu-content">
                                            <li>
                                                <a class="submenu-title" href="javascript:void(0)">
                                                    Config
                                                    <span class="sub-arrow"><i class="fa fa-chevron-right"></i></span>
                                                </a>
                                                <ul class="nav-sub-childmenu submenu-content">
                                                    <li><a href="{{ route('backend.post-tool.config.index') }}">List</a></li>
                                                    <li><a href="{{ route('backend.post-tool.config.create') }}">Add new</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="submenu-title" href="javascript:void(0)">
                                                    WordPress
                                                    <span class="sub-arrow"><i class="fa fa-chevron-right"></i></span>
                                                </a>
                                                <ul class="nav-sub-childmenu submenu-content">
                                                    <li><a href="{{ route('backend.post-tool.wordpress.create') }}">Create a post from video youtube</a></li>
                                                    {{--  <li><a href="#">Create a post from channel youtube</a></li>  --}}
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
                        </div>
                    </nav>
                </header>
                <!-- Page Sidebar Ends-->
                @!section('content')
                <!-- footer start-->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 footer-copyright">
                                <p class="mb-0">Copyright 2022 © BLT All rights reserved.</p>
                            </div>
                            <div class="col-md-6">
                                <p class="pull-right mb-0">Hand crafted & made with money</p>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!-- latest jquery-->
        <script src="{{ asset('assets/backend/viho/js/jquery-3.5.1.min.js') }}"></script>
        <!-- feather icon js-->
        <script src="{{ asset('assets/backend/viho/js/icons/feather-icon/feather.min.js') }}"></script>
        <script src="{{ asset('assets/backend/viho/js/icons/feather-icon/feather-icon.js') }}"></script>
        <!-- Sidebar jquery-->
        <script src="{{ asset('assets/backend/viho/js/sidebar-menu.js') }}"></script>
        <script src="{{ asset('assets/backend/viho/js/config.js') }}"></script>
        <!-- Bootstrap js-->
        <script src="{{ asset('assets/backend/viho/js/bootstrap/popper.min.js') }}"></script>
        <script src="{{ asset('assets/backend/viho/js/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/backend/viho/js/notify/bootstrap-notify.min.js') }}"></script>
        <!-- Plugins JS start-->
        <script src="{{ asset('assets/backend/viho/js/sweet-alert/sweetalert.min.js') }}"></script>
        <script src="{{ asset('assets/backend/viho/js/select2/select2.full.min.js') }}"></script>
        @!section('jsPlugin')
        <!-- Plugins JS Ends-->
        <!-- Theme js-->
        <script src="{{ asset('assets/backend/viho/js/script.js') }}"></script>
        <!-- Load js from page -->

        <script src="{{ asset('assets/backend/any/app.js') }}"></script>
        @!section('js')

        @if (flashMessages.has('alert') || alert)
            <!-- Alert from action -->
            @!component('backend/common/alert', {
                alertTitle: flashMessages.get('alert.title', alert && alert.title ? alert.title : ''),
                alertMessage: flashMessages.get('alert.message', alert && alert.message ? alert.message : ''),
                alertType: flashMessages.get('alert.type', alert && alert.type ? alert.type : ''),
                alertRedirectURL: flashMessages.get('alert.redirectURL', alert && alert.redirectURL ? alert.redirectURL : ''),
            })
        @endif
    </body>
</html>