<script src="{{ asset('assets/backend/viho/js/editor/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('assets/backend/viho/js/editor/ckeditor/adapters/jquery.js') }}"></script>
<script src="{{ asset('assets/backend/viho/js/editor/ckeditor/styles.js') }}"></script>
<script src="{{ asset('assets/backend/any/ckeditor.custom.js') }}"></script>