@layout('backend/layout')
@set('title', 'Backend')

@section('content')
  <section class="hero is-warning">
    <div class="hero-body">
      <p class="title">
        Title Backend
      </p>
      <p class="subtitle">
        Subtitle
      </p>
    </div>
  </section>
@end